@model List<Web.Models.ProductModel>

    <div class="row">
        <h4 class="mb-3 ml-5">Today's specials:</h4>
    </div>

    <div>

    </div>

    @foreach (var product in Model)
{
    <div class="row">
        <div class="col-2 text-center ml-5 border"><img height="80" src="~/images/@product.PhotoFileName" alt="Product image" /></div>
        <div class="col-2 my-auto"><a asp-action="ProductDetail" asp-route-productId="@product.Id">@product.Name</a></div>
        <div class="col-2 my-auto">CHF: @product.Price</div>
    </div>
}




<a asp-action="Index2"><h5>Click für GraphRequest</h5></a>
